<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>Document</title>
</head>
<body>
    <header>
        <nav class="nav_container">
            <div class="brand">
                <a class="navLink" href="/"><i class="teal-text material-icons">insert_emoticon</i></a>
            </div>
            <div class="profile">
                <% if(currentUser){ %>
                    <button id="notificationsBTN" class="btn red"><%= notifications.length%></button>
                    <ul class="notificationsList">
                        <!-- <h5>Notifications</h5> -->
                        <% notifications.forEach(function(notify){ %>
                            <% if(notify.isUnread == true) {%>
                            <li class="notificationsItem"><a href="#<%= notify._id %>"><span class="readNotification"><i class="material-icons">check_box</i> </span><%= notify.content %></a></li>
                            <% } %>
                        <% })%>
                    </ul>
                <a class="avatar" href="/user/<%= currentUser._id %>">
                    <img src="<%= currentUser.avatar %>" alt="<%= currentUser.firstName %>'s profile">
                </a>
                    <!-- notifications -->
                    <a class="navLink logoutBTN" href="/logout"><i class="teal-text large material-icons">sync_disabled</i></a>

                <% } else{ %>
                    <form class="loginForm" action="/login" method="POST">
                    <div class="field">
                        <label for="username"></label>
                        <input type="text" name="username" placeholder="E-mail">
                    </div>
                    <div class="field">
                        <label for="password"></label>
                        <input type="password" name="password" placeholder="Password">    
                    </div>
                        <button class="btn btn-large btn-flat teal-text">
                            <i class="medium material-icons">send</i>
                        </button> 
                    </form>
                    <div class="signupBTN">
                        <a class="btn white-text btn-flat" href="/signup">Signup</a>
                    </div>
                <% } %>
            </div>              
        </nav>
    </header>
    
