<% include ../partials/header %>
<div class="container">
<h1>Edit <%= currentUser.firstName %> Profile</h1>
    <form action="/user/<%= currentUser._id%>?_method=PUT" method="POST">
        <div class="field">
            <label for="">first name</label>
            <input type="text" name="user[firstName]" value="<%= currentUser.firstName %>" required>
        </div>
        <div class="field">
            <label for="">Last Name</label>
            <input type="text" name="user[lastName]" value="<%= currentUser.lastName %>" required>
        </div>
        <div class="field">
        <select name="user[gender]" value="female">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
        </div>
        <div class="field">
        <label for="">Birthday</label>
            <input class="datepicker" type="date" name="user[bday]" value="<%= currentUser.bday %>" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
        </div>
        <div class="field">
            <label for="">Company</label>
            <input type="text" name="user[company]" value="<%= currentUser.company %>">
        </div>
        <div class="field">
                <label for="">City</label>
                <input type="text" name="user[city]" value="<%= currentUser.location %>">
            </div>
        <div class="field">
            <label for="">Stuff about you...</label>
            <textarea class="materialize-textarea" name="user[bio]" id="" cols="30" rows="10"><%= currentUser.bio %></textarea>
        </div>
        <input class="btn" type="submit" value="submit">
    </form>
</div>
<% include ../partials/footer %>