<% include ../partials/header %>
<div class="hompage"> 
    <% if (currentUser) { %>
        <div class="weather">
        <p><strong><%= weather.location.country.toUpperCase() %> <%= weather.location.city %></strong> - <%=weather.item.condition.text %></p>
        </div>
        <div class="newPostForm"> 
            <form action="/user/<%= currentUser._id %>/post" method="POST">
                <div class="row">
                <div class="input-field col s3">
                    <div class="chip postImage">
                        <img src="<%= currentUser.avatar %>" alt="<%= currentUser.firstName%> <%=currentUser.lastName %> profile picture">
                        <%= currentUser.firstName %>
                    </div>
                </div>
            <div class="input-field col s9">
                    <textarea class="materialize-textarea hoverable" placeholder="WAT is love?" name="post[content]" id="postTextArea" cols="40" rows="3"></textarea>
                <div class="controls">
                        <div class="controlBTN">
                            <a href="#" class="deep-purple waves-effect waves-light btn">
                                <i class="material-icons">camera_alt</i>
                            </a>
                            <button class="btn purple waves-effect waves-light btn-small hoverable" type="submit" name="action">
                                <i class="material-icons">send</i>
                            </button>
                    </div>
                </div>
            </div>
            </form>           
        </div>
    <% } %>
    <div class="publicPostsList">
    <% posts.forEach(function(post){ %>
        
            <div class="card horizontal">
                <div class="card-image">
                    
                    <img src="<%= post.image %>" alt="">
                </div>
                <div class="card-stacked">
                <div class="card-content">
                    <p>By <%= post.author.username %></p>
                    <p><%= post.content %></p>
                </div>
                <% if(currentUser && post.author._id == currentUser.id) { %>
                <div class="card-action">
                    <a class="btn orange"><i class="material-icons">edit</i></a>
                    <form class="deletePost" action="/user/<%=currentUser._id%>/post/<%= post._id %>?_method=DELETE" method="POST">
                        <button class="btn red"><i class="material-icons">delete</i></button>
                    </form>
                </div>
                <% } %>

                </div>
            </div>
    <% }); %>
    </div>
</div>
<% include ../partials/footer %>